*{
    margin: 0;
    padding: 0;
    font-size: 0.9375rem;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.container{
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    position: relative;
}
.content{
    position: relative;
    background-color: hsl(244, 38%, 16%);
    color: white;
    display: flex;
    height: 27rem;
    width: 78%;
    top: 20%;
    left: 11%;
    border-radius: 10px;
}
.content-text{
    width: 50%;
    float: left;
    top: 500px;
}
.content-image{
    background-image: url("../images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    float: right;
}
.content-image, .content-layer{
    border-radius: 0 10px 10px 0
}
.content-layer{
    background-color: hsl(277, 64%, 61%);
    opacity: 0.64;
    height: 100%;
    width: 100%;
}
.top-text{
    width: 70%;
    padding: 60px 0 0 70px;
    font-family: 'Inter', sans-serif;
    font-size: 2.1875rem;
    font-weight: 700;
    cursor: default;
}
.top-text span{
    color: hsl(277, 64%, 61%);
    font-size: 2.1875rem;
}
.middle-text{
    padding: 20px 0 0 70px;
    width: 70%;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 100;
}
.bottom-text{
    padding: 60px 0 0 70px;
    display: inline-flex;
    width: 70%;
    justify-content: space-between;
}
.bottom-text .top{
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.bottom-text .bottom{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: small;
    font-weight: 100;
}
.bottom-text .top, .bottom-text .bottom{
    text-transform: uppercase;
}
.bottom-text .low-k{
    text-transform: lowercase;
    font-size: 1.25rem;
}

/* Medium Screen Devices */
@media (min-width: 992px) and (max-width: 1200px){
    .content-text{
        width: 70%;
    }
    .content-text p{
        width: 85%;
    }
    .bottom-text{
        width: 90%;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px){
    .content{
        flex-direction: column-reverse;
        align-items: center;
        top: 50%;
    }
    .content-text{
        width: 100%;
        clear: both;
    }
    .content-text p, .bottom-text{
        padding-left: 0;
        right: 10%;
    }
    .content-text p{
        width: 100%;
        padding: 8% 9% 0;
    }
    .content .bottom-text{
        width: 80%;
        padding: 0;
        margin: 8% 9% 8%;
    }
    .content-image{
        margin: 0%;
        width: 100%;
    }
    .content-layer{
        height: 25rem;
    }
}

/* Mobile Devices */
@media (max-width: 767px){
    .content{
        top: 45%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .content-text{
        width: 80%;
        height: 100%;
    }
    .content-text p, .bottom-text{
        padding: 0;
    }
    .content-text p{
        width: 100%;
        padding: 15% 0 5%;
    }
    p.middle-text{
        padding: 6% 0 12%;
    }
    .bottom-text{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 25%;
    }
    .content-image{
        margin-top: 12%;
        width: 100%;
    }
    .content-layer{
        height: 22rem;
    }
}

/* Very small mobile devices */
@media(max-width:576px) {
    .container{
        height: 157vh;
    }
    .content{
        top: 10%;
        flex-direction: column-reverse;
        height: 85%;
    }
    .content-image{
        background-image: url("../images/image-header-mobile.jpg");
        position: absolute;
        width: 100%;
        height: 32%;
        top: -7%;
    }
    .content-layer{
        height: 100%;
    }
    .content-image, .content-layer{
        border-radius: 10px 10px 0 0;
    }
    .content-text{
        position: absolute;
        top: 32%;
        height: 70%;
        width: 90%;
    }
    .top-text, .middle-text, .bottom-text{
        padding: 0;
    }
    .top-text, .middle-text, .bottom-text{
        text-align: center;
        margin: auto;
    }
    .top-text, .top-text span{
        font-size: 2rem;
    }
    .middle-text{
        font-size: 0.95rem;
        margin-bottom: 30px;
    }
    .bottom-text{
        display: block;
    }
    .bottom-text .top{
        margin-bottom: 20px;
    }
}
